
.about-us-section {
    background: #F1F2F2;
    display: flex;
    padding: 100px;
    align-items: center;
    position: relative;
    // padding-bottom: 218px; /* Adjusted padding for the yellow bar */
    
    &.reverse {
      flex-direction: row-reverse;
    }
    
    .image-container {
      flex: 1;
      margin-right: 100px;
      
      img {
        width: 100%;
        height: 100%;
      }
    }
    
    .text-container {
      flex: 1;
      margin-right: 20px;
      
      h1 {
        color: black;
        margin-bottom: 20px;
        font-size: 67px;
        font-family: Inter;
        font-weight: 800;
        word-wrap: break-word;
      }
      
      p {
        color: black;
        font-size: 18px;
        font-family: Poppins;
      }
    }
    
  }
  
  .yellow-bar {
    background-color: #FFC124;
    width: 100%;
    height: 90px; 
    position: absolute;
    bottom: 0;
  }
  
  