.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
  
    .left-navbar, .right-navbar {
      display: flex;
      gap: 10px;
  
      a, .icon {
        color: black;
        text-decoration: none;
      }
    }
  
    .center-navbar {
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
  