* {
  padding: 0;
  margin: 0;
}
img {
  width: 60%;

}
.product {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
  
}
h1{
  font-family: Poppins;
}


.product img {
  margin-left: 15%;
  margin-right: 15%;
}
.product h2 {
  justify-content: center;
  align-self: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}
.info {
  justify-content: center;
  text-align: center;
  font-family: Poppins;
  width: 400px;
}
.info p {
    font-size: 1.2rem;
    font-weight: 700;
}
.button-product {
  text-decoration: none;
  border: none;
  background-color: white;
  color: black;
  font-weight: 600;
}
.shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 30%;
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
}
.shop-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  font-weight: bold;
  font-size: large;
}
.TranslateY{
    transform: translateY(5%);
    font-weight:900 ;
    font-size: xx-large;
}
.Similar-Products{
    h1 {
        font-size: 1rem;
        align-self: center;
        transform: translateY(20%);
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    .TranslateY{
        font-weight:900 ;
        font-size: xx-large;
    }
}
.title-container {
    text-align: center;
    svg {
        position: absolute;
        width: 400px;
        z-index: -1;
        transform: translateX(-200px);
        margin-top: -20px;
    }
}
#titleofthepage{
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}
.product img {
    width: 70%;
    margin-bottom: 5px;
}
.product .img-container {
    display: flex;
    align-items: end;
    align-content: end;
    justify-items: center;
    justify-content: center;
}
.background-color-item {
    position: absolute;
    z-index: -1;
    width: 15%;
    transition: 300ms ease-in-out;
}
.bottles .background-color-item {
    height: 17vw
}
.tumblers .background-color-item {
    height: 14vw;
}
.mirrors .background-color-item {
    height: 12vw
}
.mirrors img {
    margin-bottom: 30px;
    margin-top: 30px;
}
.earrings .background-color-item {
    height: 10vw;
}
.pop-sockets .background-color-item {
    height: 10vw;
}
.pouches .background-color-item {
    height: 8vw;
}
.tote-bags .background-color-item {
    height: 18vw;
}
.magnets .background-color-item {
    height: 7vw;
}

.Product-Container {
    font-family: poppins;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 30px;
    justify-content: center;
    min-height: 600px;
    .Rating-Container {
        display: flex;
        flex-direction: row;
    }
    .Product-Image {
        width: 250px;
        height: 100%;
        object-fit: cover;
        align-self: center;
        margin: 0 30px
    }
    .Product-Information {
        max-width: 50%;
        min-width: 300px;
        align-self: center;
        margin-left: 20px;
    }
    .Product-Information p {
        max-width: 600px;
        font-size: 1.25rem;
    }
    .Product-Buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .Number-Selector {
        display: flex;
        flex-direction: row;
        width: 175px;
        height: 44px;
        justify-content: space-around;
        border-radius: 20px;
        align-items: center;
        font-size: 1.5rem;
        margin-right: 10px;
        margin-top: 5px;
    }
    .Number-Selector button {
        background-color: inherit;
        border: none;
        font-size: 1.5rem;
        height: 50px;
        width: 20px;
    }
    .Add-to-Cart {
        border-radius: 20px;
        color: #FFF;
        width: 180px;
        height: 50px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-right: 10px;
        margin-top: 5px;
    }
    .Customize-btn {
        border-radius: 20px;
        color: #FFF;
        width: 180px;
        height: 50px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 5px;
    }
    h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    svg {
        width: 80%;
    }
    p {
        margin: 20px 0;
        font-weight: 400;
        font-size: 0.7rem;
    }

}

.DoubleButton{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: 10;
    width: 15%;
    transition: 300ms ease-in-out;
    
}
a {
    text-decoration: none;
    font-family: poppins;
}
.hoveredButton1{
    justify-self: center;
    margin-bottom: 10px;
    background-color: #fff;
    height: 5vh;
    border-radius: 200px;
    border: none; 
    margin-left: 15% ;
    margin-right:15% ;
    padding-top: 5px;
}
.hoveredButton2{
    justify-self: center;
    background-color: #000;
    color:#fff;
    height: 5vh;
    border-radius: 200px;
    border: none; 
    margin-left: 15% ;
    margin-right: 15%;
    text-align: center;
    padding-top: 5px;
}
  
.hoveredButton1:hover{
    background-color: #000;
   
}
  
.hoveredButton2:hover{
    color: #000;
}
.Eyes{
    height: 2.5vh;
    position: absolute;
    left: 4px;
    transform: scaleX(20%);
    z-index: 10;
}
.Bag{
  
    height: 3vh;
    position: absolute;
    left: 4px;
    margin: 3px;
    transform: scaleX(15%);
    z-index: 10;
    
}
.Featured-row {
    display: flex;
    flex-direction: row;
    margin-left:10%;
    margin-right:10%;
    justify-content: center;
}

.AboutUS1{
    background-color: #F1F2F2;
    h1{
        color: black;
font-size: 67px;
font-family: Inter;
font-weight: 800;
    }
    p{
        color: black;
font-size: 25px;
font-family: Poppins;
font-weight: 500;
word-wrap: break-word
    }
}
.yellow-bar {
    height: 118px;
    min-height: 118px;
    background: #FFC124;    
}