* {
  padding: 0;
  margin: 0;
}
img {
  width: 60%;

}
.product {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
  
}
h1{
  font-family: Poppins;
}


.product img {
  margin-left: 15%;
  margin-right: 15%;
}
.product h2 {
  justify-content: center;
  align-self: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}
.info {
  justify-content: center;
  text-align: center;
  font-family: Poppins;
  width: 400px;
}
.info p {
    font-size: 1.2rem;
    font-weight: 700;
}
.button-product {
  text-decoration: none;
  border: none;
  background-color: white;
  color: black;
  font-weight: 600;
}
.shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 30%;
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
}
.shop-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  font-weight: bold;
  font-size: large;
}
.TranslateY{
  transform: translateY(5%);
  font-weight:900 ;
  font-size: xx-large;
}

#titleofthepage{
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}
.product img {
    width: 70%;
    margin-bottom: 5px;
}
.product .img-container {
    display: flex;
    align-items: end;
    align-content: end;
    justify-items: center;
    justify-content: center;
}
.background-color-item {
    position: absolute;
    z-index: -1;
    width: 15%;
    transition: 300ms ease-in-out;
}
.bottles .background-color-item {
    height: 17vw
}
.tumblers .background-color-item {
    height: 14vw;
}
.mirrors .background-color-item {
    height: 12vw
}
.mirrors img {
    margin-bottom: 30px;
    margin-top: 30px;
}
.earrings .background-color-item {
    height: 10vw;
}
.pop-sockets .background-color-item {
    height: 10vw;
}
.pouches .background-color-item {
    height: 8vw;
}
.tote-bags .background-color-item {
    height: 18vw;
}
.magnets .background-color-item {
    height: 7vw;
}

