@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  background: #e14a26;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 10000px;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
}

.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  inset: 0;
  justify-content: center;
  text-align: center;
  font-size: 28px;
}

.swiper-button-next::after {
  content: ">";
}

.swiper-button-prev::after {
  content: "<";
}

.swiper {
  margin-left: 100px;
  margin-right: 100px;
}

.group {
  cursor: pointer;
}

@layer utilities {
  @keyframes dash-show {
    to {
      stroke-dashoffset: 0;
    }
  }

  .animate-path {
    animation: dash-show 1s ease forwards;
  }
}

@layer components {
  .animated {
    @apply transition-all duration-300;
  }
}
